.jumbotron{
    background-color: yellow;
    color: black;
}

.Container{
    margin-left: 90px;
}

footer{
    padding: 10px 10px 0  10px;
    background-color: yellow;
    margin-bottom: 0px;
    margin-top: 10px;
}

.card-hotel{
    flex: 1 250px;
    padding: 5px 5px 5px 5px;
    margin-bottom: 5px;
    margin-left: 80px;
    margin-right: 80px;
    font-size: 1rem;
}

.btn-reserva{
    width: 100%;
}